* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("file:///C:/mihir/summerOFcode/porfolio/img/ptflo1.png");
     /* background-size: 100% ! important;  */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    height: 40px;
    width: 100%;
    background-color: none;
}

.sub {
    color: #fff;
}

.subsub {
    color: rgb(114, 108, 108);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #f26b38 !important;
}

.nav-link {
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 10px;
    font-family: Binary X CHR BRK;
}

#app {
    background: none;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#wrapper {
    text-align: center;
}

.glitch {
    position: relative;
    color: white;
    font-family: 'roboto condensed';
    font-size: 3em;
    font-weight: bold;
    /* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
    animation: glitch-skew 4s infinite linear alternate-reverse;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 gray;
    /* Creates an initial clip for our glitch. This works in
a typical top,right,bottom,left fashion and creates a mask
to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
with an alternating animation to keep things fresh. */
    animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -1px;
    text-shadow: -1px 0 #f26b38, 1px 1px green;
    animation: glitch-anim2 4s infinite linear alternate-reverse;
}


/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/

@keyframes glitch-anim {
    0% {
        clip: rect(68px, 9999px, 40px, 0);
        transform: skew(0.56deg);
    }
    5% {
        clip: rect(87px, 9999px, 71px, 0);
        transform: skew(0.72deg);
    }
    10% {
        clip: rect(83px, 9999px, 70px, 0);
        transform: skew(0.67deg);
    }
    15% {
        clip: rect(1px, 9999px, 26px, 0);
        transform: skew(0.06deg);
    }
    20% {
        clip: rect(63px, 9999px, 10px, 0);
        transform: skew(0.85deg);
    }
    25% {
        clip: rect(62px, 9999px, 15px, 0);
        transform: skew(0.03deg);
    }
    30% {
        clip: rect(1px, 9999px, 58px, 0);
        transform: skew(0.9deg);
    }
    35% {
        clip: rect(17px, 9999px, 43px, 0);
        transform: skew(0.12deg);
    }
    40% {
        clip: rect(75px, 9999px, 24px, 0);
        transform: skew(0.48deg);
    }
    45% {
        clip: rect(7px, 9999px, 20px, 0);
        transform: skew(0.55deg);
    }
    50% {
        clip: rect(74px, 9999px, 24px, 0);
        transform: skew(0.15deg);
    }
    55% {
        clip: rect(14px, 9999px, 15px, 0);
        transform: skew(0.10deg);
    }
    60% {
        clip: rect(91px, 9999px, 78px, 0);
        transform: skew(0.16deg);
    }
    65% {
        clip: rect(30px, 9999px, 34px, 0);
        transform: skew(0.20deg);
    }
    70% {
        clip: rect(72px, 9999px, 22px, 0);
        transform: skew(0.70deg);
    }
    75% {
        clip: rect(90px, 9999px, 82px, 0);
        transform: skew(0.37deg);
    }
    80% {
        clip: rect(39px, 9999px, 7px, 0);
        transform: skew(0.77deg);
    }
    85% {
        clip: rect(57px, 9999px, 94px, 0);
        transform: skew(0.40deg);
    }
    90% {
        clip: rect(69px, 9999px, 25px, 0);
        transform: skew(0.10deg);
    }
    95% {
        clip: rect(1px, 9999px, 72px, 0);
        transform: skew(0.40deg);
    }
    100% {
        clip: rect(26px, 9999px, 100px, 0);
        transform: skew(0.25deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(95px, 9999px, 32px, 0);
        transform: skew(0.52deg);
    }
    10% {
        clip: rect(62px, 9999px, 2px, 0);
        transform: skew(0.68deg);
    }
    20% {
        clip: rect(48px, 9999px, 17px, 0);
        transform: skew(0.38deg);
    }
    30% {
        clip: rect(59px, 9999px, 99px, 0);
        transform: skew(0.65deg);
    }
    40% {
        clip: rect(59px, 9999px, 17px, 0);
        transform: skew(0.52deg);
    }
    50% {
        clip: rect(67px, 9999px, 23px, 0);
        transform: skew(0.91deg);
    }
    60% {
        clip: rect(19px, 9999px, 66px, 0);
        transform: skew(0.61deg);
    }
    70% {
        clip: rect(79px, 9999px, 79px, 0);
        transform: skew(0.69deg);
    }
    80% {
        clip: rect(21px, 9999px, 11px, 0);
        transform: skew(0.49deg);
    }
    90% {
        clip: rect(47px, 9999px, 63px, 0);
        transform: skew(0.84deg);
    }
    100% {
        clip: rect(40px, 9999px, 53px, 0);
        transform: skew(0.55deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(4deg);
    }
    10% {
        transform: skew(4deg);
    }
    20% {
        transform: skew(3deg);
    }
    30% {
        transform: skew(-2deg);
    }
    40% {
        transform: skew(4deg);
    }
    50% {
        transform: skew(3deg);
    }
    60% {
        transform: skew(3deg);
    }
    70% {
        transform: skew(-2deg);
    }
    80% {
        transform: skew(0deg);
    }
    90% {
        transform: skew(3deg);
    }
    100% {
        transform: skew(4deg);
    }
}


.ovrlay{
    height:100%;
    width:100%;
    color:red;
    left:0;
    top:0;
    position: absolute ! important;
    transform-origin: left;
}
.transition-slide{
    
}
.html.is-animating .slide{
    transform:
}
